@{
    ViewBag.Title = "Contacto";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<address>
    <br /><br />
    Contacto <br /><br />
    Santo Domingo, D.N.<br />
    República Dominicana<br />

</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:CarlosRPEvertsz@gmail.com">CarlosRPEvertsz@gmail.com</a><br />
</address>